/* currently not in use */

/*--------------------------------------*/
/* Navigation Bar*/

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #565051;
    width: 100%;
}

.nav {
    float: right;
}


.navbar li {
    padding-left: 10px;
}

.navbar li a {
    color: #fff;
}

.dropdown-menu {
    background-color: #565051;
}
/*------------------------------*/


img {
    width: 100%;
}